/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
/* Variables */
:root{
  --green-color: rgb(122, 204, 45);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 12px;
  font-family: Helvetica;
  background-color: white;
}


/*-------------------------------------- Barra de Navegación */
.nav{
  width: 100%;
  height: auto;
  background-color: var(--green-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav .menu ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}
.nav .menu ul li{
  padding-left: 20px;
}
.nav .menu ul li a{
  text-decoration: none;
  color: var(--black-color);
  font-size: 1em;
  text-align: left;
}

.nav .image{
  width: 75px;
  height: 38px;
  display: flex;
  align-items: center;
}
.nav .menu ul li a:hover{
  color: var(--white-color);
}




/* -----------------------------------------------Section */
.main_section{
  padding: 15%;
  text-align: center;
}
.main_section h1{
  font-size: 2.5em;
}
.products{
  background-image: url('../images/curve.png');
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  padding: 10% auto ;
}
.product{
  padding: 10px;
  margin-top: -50px;
  width: 35%;
  height: inherit;
}
.contenido{
  padding: 20px;
  background-color: var(--white-color);
  box-shadow: 0 0 2px #c1bcbc;
  height: 320px;
}
.contenido h1{
  margin: .67em 0;
}
.contenido p{
  margin: 1em 0;
}
.img_content{
  text-align: center;
}
.buttom{
  width: 100%;
  background-color: var(--green-color);
  color: white;
  padding: 10px;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  outline: none;
}
.buttom:hover{
  background-color: #5e9e22;
}
/*------------------------------------------ Otros productos */
.container{
  height: auto;
  width: 100%;
}
.box{
  margin: 10px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.caja{
  text-align: center;
  margin: 20px;
  width: 300px;
}
.caja h2{
  text-align: left;
  margin: 10px 20px;
}
.caja p{
  text-align: left;
  margin: 10px 20px;
}
/* menciones */
.menciones{
  /* margin: auto 12%; */
}
.title{
  text-align: center;
  margin: 0 auto 40px;
}
.person{
  margin: 0 20px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.person-{
  box-shadow: 0 0 2px rgb(100, 100, 103);
  width: 300px;
  margin: 5px;
}
.foto img{
  width: 300px;
}
.person- h2{
  text-align: left;
  margin: 10px 10px;
}
.person- p{
  text-align: left;
  margin: 10px 10px;
}
/* ---------------------------------------------- footer */
footer{
  background-color:  rgb(49, 51, 55);
  padding: 20px 0;
}
footer ul {
  margin: auto 2%;
  list-style: none;
  display:flex;
  justify-content: space-between;
}
footer ul > li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
